<nav class="navbar">
  <div class="navbar-content">
    <a class="logo" (click)="navigateTo('/')">Home Store</a>

    <div class="nav-links">
      <a (click)="navigateTo('/')">
        Strona główna
      </a>

      <a (click)="navigateTo('/products')">
        Produkty
      </a>

      <a *ngIf="authService.isLoggedIn()" (click)="navigateTo('/cart')">
        Koszyk
      </a>

      <a *ngIf="authService.isLoggedIn() && !authService.isAdmin()" (click)="navigateTo('/orders')">
        Moje zamówienia
      </a>

      <a *ngIf="!authService.isLoggedIn()" (click)="navigateTo('/register')">
        Rejestracja
      </a>

      <a *ngIf="!authService.isLoggedIn()" (click)="navigateTo('/login')">
        Logowanie
      </a>

      <a *ngIf="authService.isAdmin()" (click)="navigateTo('/admin/products')">
        Zarządzanie produktami
      </a>

      <a *ngIf="authService.isAdmin()" (click)="navigateTo('/admin/orders')">
        Zarządzanie zamówieniami
      </a>

      <span *ngIf="authService.isLoggedIn()" class="user-info">
        {{ authService.getCurrentUser()?.email }}
      </span>

      <button *ngIf="authService.isLoggedIn()" class="logout-button" (click)="logout()">
        Wyloguj
      </button>
    </div>
  </div>
</nav>
