<nav class="navbar">
  <div class="navbar-content">
    <a routerLink="/" class="logo">Home Store</a>

    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Strona główna
      </a>
      <a routerLink="/products" routerLinkActive="active">
        Produkty
      </a>
      <a routerLink="/register" routerLinkActive="active">
        Rejestracja
      </a>
      <a routerLink="/admin/products" routerLinkActive="active">
        Zarządzanie
      </a>
    </div>
  </div>
</nav>
