<article class="product-card">
  <div class="image-wrapper">
    <img
      [src]="product.imageUrl || 'https://via.placeholder.com/400x260?text=Brak+zdjecia'"
      [alt]="languageService.productName(product.name)"
      class="product-image"
    />
  </div>

  <div class="product-content">
    <h3>{{ languageService.productName(product.name) }}</h3>

    <p class="description">
      {{ languageService.productDescription(product.description) || 'Brak opisu produktu.' }}
    </p>

    <p class="price">
      PLN {{ product.price | number:'1.2-2' }}
    </p>

    <a class="details-button" [routerLink]="['/products', product.id]">
      {{ languageService.t('details') }}
    </a>
  </div>
</article>
